/* BASE */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}
body{
    overflow-x: hidden;
}

:root {
    --border: .1rem solid rgba(255, 255, 255, .3);
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* HEADER */

header {
    color: #fff;
    padding-top: 33px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(.jpg);
    border-bottom: var(--border);
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header__nav {
    color: #fff;
    font-size: 14px;
}

.header__bar {
    display: flex;
    column-gap: 40px;
}

.header__icons {
    font-size: 29px;
    top: 2px;
}

.header__icon {
    color: #fff;
}

.nav__button {
    display: none;
}

/* HOME */

.home {

    background: url(../img/home-background.png)  no-repeat top center ;
    background-size: cover;
    background-position: 50% 50%;
}

.home__title {
    color: #fff;
    padding-top: 200px;
    font-size: 48px;
    font-weight: 700px;
    margin-bottom: 60px;
    line-height: 140%;
}

.home__video {
    display: flex;
    align-items: center;
}

.home__video__title {
    margin-left: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 600px;
}

.home__cards {
    display: flex;
    margin-top: 202px;
    column-gap: 12px;
}

.home__card {
    height: 151px;
    width: 315px;
    background-color: #8D86C9;
}

.home__card__title {
    color: #fff;
    font-size: 18px;
    font-weight: 600px;
    margin: 35px 0px 17px 35px;
}

.home__card_subtitle {
    color: #fff;
    font-size: 24px;
    font-weight: 700px;
    margin-left: 35px;
    display: inline;
}

.home__card__icons {
    font-size: 25px;
    color: #fff;
}

.cards {
    width: 1240px;

    column-gap: 64px;
    margin-top: 150px;
    margin-bottom: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__card__title {
    font-size: 27px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: -100px;
}


.blog_c {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.blog__info {
    background-color: #F7ECE1;
    color: #333333;
    width: 654px;
    height: 636px;
}

.blog__card {
    margin-top: 70px;
    margin-left: 146px;
}

.blog__image {
    position: relative;
    left: 86px;
}


.blog__title_1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
}

.blog__subtitle_1 {
    font-size: 14px;
    font-weight: 400;
    width: 430px;
    height: 134px;
    line-height: 19.6px;

}

.blog__title_2 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 25px;
}

.blog__subtitle_2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    margin-bottom: 35px;
    width: 404px;
    height: 202px;
}

ul li {
    list-style-type: none;
    background-image: url(../img/marker.svg);
    background-position: 0 5px;
    background-size: .5rem .5rem;
    padding-left: 23px;
    background-repeat: no-repeat;
}

.compound_c {
    margin-bottom: 150px;

}

.trainers__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75px;
    font-weight: 700;
    font-size: 36px;
}

.trainers__info a {
    background-color: #8D86C9;
    color: #fff;
    padding-top: 5px;
}

.trainers {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.trainer {
    width: 196px;
    height: 379px;
    text-align: center;
}

.trainer__photo {
    width: 166px;
    height: 240px;
}

.trainer__name {
    margin-bottom: 15px;
    margin-top: 25px;
    font-weight: 600;
    font-size: 21px;
}

.trainer__title {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    width: 196px;
    height: 60px;
}

.container_c {
    display: flex;
    justify-content: space-between;

    margin-bottom: 150px;
}

.sentence h1 {
    margin-bottom: 75px;
    font-weight: 700;
    font-size: 36px;
}

.services a {
    background-color: #8D86C9;
    color: #fff;
    padding-top: 5px;
}

.services__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 36px;

}

.price {
    display: block;
    margin: 1rem;

}

.price__info {
    width: 526px;
    height: 60px;
    background-color: #8D86C9;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.price__info__name {
    font-weight: 600;
    font-size: 21px;
    color: #fff;
    margin-left: 30px;
}

.price__info a {
    background-color: #8D86C9;
    color: #fff;
    padding-right: 21px;
    font-size: 20px;
}

.services img {
    margin-top: 50px;
}

.services__title {
    margin-top: -60px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 27px;
    color: #FFFFFF;
}

.footer{
    background-color: #F7ECE1;
    
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer__title {
    color: #333333;
    margin-top: 38px;
    margin-bottom: 38px;
}

.footer__bar{
    display: flex;
    column-gap: 40px;
}

.footer__nav {
    color: #333333;
    text-decoration: none;
    font-weight: 500px;
    font-size: 14px;
}


.footer__icon {
    font-size: 30px;
    color: #8D86C9;
}

.footer__icons {
    display: flex;
    column-gap: 30px;
    padding-top: 2px;
}
